<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./head.ejs') %>
  <title>Ayuda un peludo</title>
</head>
<body>
  <%- include('./top-bar.ejs') %>

  <div id="main-content">
    <%- body %>
  </div>

  <%- include('../Components/RecoverPassword.ejs') %>
  <%- include('../Components/Privacy.ejs') %>
  <%- include('../Components/Conditions.ejs') %>
  <%- include('../Components/Modalmsg.ejs') %>
  <%- include('../Components/Modalshare.ejs') %>
  <%- include('../Components/ModalEditProfile.ejs') %>

  <%- include('./footer.ejs') %>
  <%= block('script').toString() %>
</body>
</html>
