<%- layout('Layout/template.ejs') %>
<!-- mainContainer -->
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-5 px-2">
      <!-- Mi Perfil -->
      <%- include('Components/myProfile.ejs') %>
      <!-- Fin de mi perfil   -->
      <!-- Sugerencias -->
      <%- include('Components/Suggestions.ejs', {users: usersSuggestion}) %>
      <!-- Fin de sugerencias -->
    </div>
    <div id="areaPublicaciones" class="col-lg-6 col-md-7 px-2">
      <!--Agregar Publicacion-->
      <%- include('Components/addPost.ejs') %>
      <!--Fin Agregar publicacion-->
      <!--Alerta publicacion-->
      <div id="espacioPublicaciones">
        
      </div>

    </div>
    <!-- Publicidad -->
    <div class="col-lg-3 px-2 d-none d-lg-inline">
      <%- include('Components/ads.ejs') %>
    </div>
    <!--Fin de publicidad-->
  </div>
</div>


<!-- mainContainer -->

<!-- Modal Compartir publicación-->


<!-- Modal Enviar mensaje privado-->
<!--agregar publicaciones-->
<script src="Javascript/ajaxPublicaciones.js"></script>