<div class="card mb-2">
    <div class="card-body p-2">
      <a class="d-flex justify-content-center mb-1" href="<%= '/' + user.username %>">
        <img class="rounded-circle" src="<%= user.urlImage %>" style="height: 100px; width: 100px;">
      </a>
      <h5 class="card-title text-center mb-1">
        <a href="<%= '/' + user.username %>" class="text-dark font-weight-bold"><%= user.name + ' ' + user.surname %></a>
      </h5>
      <h6 class="card-subtitle text-center mb-2 text-muted" id="aup-username" data-id="<%= user._id %>"><%= user.username %></h6>
      <p class="card-text text-justify mb-2"><%= user.sobre_mi %></p>
      <div class="row px-3">
        <div class="col px-1">
          <p class="text-center mb-0"><a href="#" class="card-link text-dark font-weight-bold text-small">Publicaciones</a></p>
          <p class="h5 text-success text-center font-weight-bold mb-0">10</p>
        </div>
        <div class="col px-1">
          <p class="text-center mb-0"><a href="#" class="card-link text-dark font-weight-bold text-small">Siguiendo</a></p>
          <p class="h5 text-success text-center font-weight-bold mb-0">0</p>
        </div>
        <div class="col px-1">
          <p class="text-center mb-0"><a href="#" class="card-link text-dark font-weight-bold text-small">Seguidores</a></p>
          <p class="h5 text-success text-center font-weight-bold mb-0">0</p>
        </div>
      </div>

      <!-- <div class="d-flex justify-content-center mt-2">
        <button type="button" class="btn btn-outline-success btn-sm text-center " data-toggle="modal" data-target="#exampleModal">Editar perfil</button>
      </div> -->

    </div>
  </div>
